/* =============
    Employment
============= */

#employment-start {
    background-color: $off-white;

    img {}

    h1 {}

    h2 {}

    p {
        color: $blue-black;

    }
}

#emp-quote {
    background-color: $dark-blue;

    p {
        color: $green-blue;

    }
}

#emp-text {
    background-color: $red;

    img {}

    p {
        color: $blue-black;

    }

    h2 {}
}

#emp-map {
    background-color: $off-white;

    #emp-map-left {
        #counter {
            color: $green-blue;

            p {}

            h1 {}

        }

        #designers-wanted {
            color: $dark-red;
            p {}

            h2 {}
        }
    }

    #google-map {}
}

#emp-cards {
    background-color: $red;

    h4{
        color: $dark-red;
    }

    .card{
        background-color: $off-white;
    }

    #high-five {}

    #threei {}

    #ssk {}

    #blue-state {}
}