/* =============
    Experiment
============= */
#hero-experiment{
    #hero-image-experiment{
        background-image: url('../img/experimentation/experimentation-hero.jpg');
        background-position: center;
        background-size: cover;
        height: 70vh;
    }
    #title-experiment{
        
    }
    #subtitle-experiment{

    }
}
#section-1-experiment{
    #pullquote-section-1{
        
    }
    #para-section-1{
            
    }
    #image-section-1{

    }
}
#section-2-experiment{
    #pullquote-section-2{

    }
    #image-section-2{

    }
}
#section-3-experiment{
    #para-section-3{

    }
}
#section-4-experiment{
    #pullquote-section-4{

    }
    #image-section-4{

    }
    #para-section-4{

    }
}
#section-5-experiment{
    #image-1-section-5{

    }
    #image-2-section-5{

    }
    #image-3-section-5{

    }
}


