/* =============
    Experiment
============= */
#hero-experiment{
    #hero-image-experiment{
        background-image: url('../img/experimentation/experimentation-hero.jpg');
        background-position: center;
        background-size: cover;
        height: 70vh;
    }
    #title-experiment{
        
    }
    #subtitle-experiment{

    }
}

